$black:       #222222 !default;
$blue:        #1372bf !default;
$green:       #36e04d !default;
$grey:        #f0f0f0 !default;
$light-blue:  #2bede3 !default;
$red:         #e63939 !default;
$white:       #ffffff !default;

$grey-text:   #666666 !default;